li {
    cursor: pointer;
}

label {
    font-weight: bold;
}

.separator {
    height: 50px;
}

.block {
    display: inline-block;
    vertical-align: top;
}

.diagram-title {
    font-weight: bold;
    font-size: large;
}

.diagram-body {

}

.diagram-element {
    width: 20px;
    display: inline-block;
}

.diagram-element-column{
    margin: 2px;
    border: 1px solid;
}

.diagram-element-date{
    transform: rotate(90deg);
    white-space: nowrap;
}